.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    margin-bottom: 50px;
    background-image: url(../../Images/bar.jpg);
    background-size: cover;
    background-position: center;
}
.header__brand-logo{
    width: 125px;
}
.header__brand{
    font-size: 50px;
    color:var(--textColor);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    text-align: center;
}