.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c5b4b4;
    height: 70px;
}

.footer__list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer__listItem{
    list-style: none;
}

.footer__img{
    width: 40px;
}